{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="card col-md-6 m-auto " >
      <div class="card-header">
      </div>
      <div class="card-body">
        <h5 class="card-title">Create Employee</h5>
        <form action="" method="post">
          {% csrf_token %}
          {{ forms.as_p }}

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}